html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .Container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  form {
    background-color: rgba(246, 240, 248, 0.9); 
    padding: 30px;
    border: 1px solid #5e80a1; 
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(204, 192, 192, 0.3); 
    width: 100%;
    max-width: 400px; 
    
  }
  
  input[type="text"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #8d7e7e;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
   
  }
  
  input[type="submit"] {
    padding: 10px 15px;
    background-color: #5e80a1; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
  }
  
  input[type="submit"]:hover {
    background-color: #380538; 
    transition: background-color 0.3s ease;
  }
  